/.idea/
terraform.tfstate*
.terraform.lock.hcl
.terraform
__pycache__
*.zip
/**/.build/
terraform.tfvars
.terraform.tfstate.lock.info
pytest-*-output.log

# Ignore Claude local settings
/.claude/*.local.json
.claude/reviews
