/.idea/
terraform.tfstate*
.terraform.lock.hcl
.terraform
__pycache__
*.zip
terraform.tfvars
.terraform.tfstate.lock.info
pytest-*-output.log
/test_data/actions-runner/

# Ignore Claude local settings
/.claude/*.local.json
.claude/reviews
